Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core

fix: Updated child order line item quantity on parent quantity change
  src/Core/Checkout/Order/OrderAddressService.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/AclValidPermissionsRule/entity-schema.json
  tests/integration/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
  tests/migration/Core/V6_6/Migration1720094362AddStateForeignKeyToOrderDeliveryTest.php
  tests/migration/Core/V6_6/Migration1720094363AddStateForeignKeyToOrderTest.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
Owners: none

fix: styling issues for categories page
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.spec.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.spec.js
Owners: none

fix: remove message queue error notifications in admin
  src/Administration/Resources/app/administration/src/core/worker/admin-notification-worker.js
  src/Administration/Resources/app/administration/src/core/worker/admin-notification-worker.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Core/Content/Category/DataAbstractionLayer/CategoryBreadcrumbUpdater.php
  src/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdater.php
  src/Core/Content/Seo/SeoUrlUpdater.php
  src/Core/Framework/Context.php
  src/Core/Framework/Routing/ApiRequestContextResolver.php
  src/Core/Framework/Uuid/Uuid.php
  src/Core/System/SalesChannel/Context/BaseContextFactory.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductLoadedSubscriberTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcherTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityHydratorTest.php
  tests/unit/Elasticsearch/Product/SearchConfigLoaderTest.php
Owners: @cicada/product-ct-core

fix: convert uuid to hex before dispatching SystemLanguageChangeEvent
  src/Core/Maintenance/System/Service/ShopConfigurator.php
  tests/unit/Core/Maintenance/System/Service/ShopConfiguratorTest.php
Owners: none

chore(ci): always execute php, admin and storefront workflow
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  src/Core/Checkout/Customer/Service/EmailIdnConverter.php
Owners: @cicada/product-ct-admin, @cicada/product-operations, @cicada/product-ct-core, @cicada/product-ct-storefront

CustomerGroupRegistration.spec.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
  tests/acceptance/tests/Settings/CustomerGroupRegistration.spec.ts
Owners: none

chore: Remove unused administration lighthouse scripts
  src/Administration/Resources/app/administration/createlighthouserc.js
  src/Administration/Resources/app/administration/lighthouse-puppeteer.js
  src/Administration/Resources/app/administration/lighthouse-tests.js
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  tests/unit/Core/Content/Media/File/FileUrlValidatorTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistryTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Scheduler/TaskSchedulerTest.php
  tests/unit/Core/Framework/Plugin/Composer/FactoryTest.php
Owners: none

chore: Remove unused administration lighthouse scripts
  .github/workflows/integration.yml
  tests/unit/Core/Content/Media/File/FileUrlValidatorTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistryTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Scheduler/TaskSchedulerTest.php
Owners: @cicada/product-operations

chore: Remove unused administration lighthouse scripts
  .github/bin/generate-phpunit-matrix.php
Owners: @cicada/product-operations

fix: fix memory leak in tooltip directive
  .github/workflows/integration.yml
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.spec.js
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  tests/acceptance/package.json
Owners: @cicada/product-operations

fix: fix memory leak in tooltip directive
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Migration/V6_3/Migration1536232810User.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Core/System/User/UserDefinition.php
  src/Core/System/User/UserEntity.php
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Owners: @cicada/product-ct-storefront

fix: `sw-promotion` module position
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/sw-app-actions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Core/System/User/UserEntity.php
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
  tests/acceptance/tests/Settings/RunFirstRunWizard.spec.ts
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  .danger.php
  composer.json
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Core/composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPhoneNumberUnique.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPhoneNumberUniqueValidator.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/integration/Core/Checkout/Validation/CustomerPhoneNumberUniqueValidatorTest.php
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  composer.json
  src/Core/composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  composer.json
  src/Core/composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  composer.json
  src/Core/composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  composer.json
  src/Core/composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  composer.json
Owners: @cicada/product-ct-core

fix: remove unnecessary polyfills
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  src/Storefront/Theme/Validator/SCSSValidator.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  src/Storefront/Theme/ScssPhpCompiler.php
Owners: @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

fix: remove unnecessary polyfills
  .github/workflows/integration.yml
  src/Storefront/Theme/ScssPhpCompiler.php
Owners: @cicada/product-operations, @cicada/product-ct-storefront

fix: remove unnecessary polyfills
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Owners: @cicada/product-ct-storefront

fix: foreign Key Constraint Violation on Save & Publish
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
  src/Core/Content/Cms/Subscriber/CmsVersionMergeSubscriber.php
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Framework/DataAbstractionLayer/Event/BeforeVersionMergeEvent.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
  tests/integration/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
  tests/unit/Core/Content/Cms/Subscriber/CmsVersionMergeSubscriberTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Owners: @cicada/product-ct-core

chore(cms): Change cms sections div to html section
  src/Storefront/Resources/views/storefront/section/cms-section-default.html.twig
Owners: @cicada/product-ct-storefront

feat: lazily load dal entity extensions
  src/Administration/Notification/Extension/IntegrationExtension.php
  src/Administration/Notification/Extension/UserExtension.php
  src/Administration/Notification/NotificationBulkEntityExtension.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
  src/Core/Framework/DataAbstractionLayer/FilteredBulkEntityExtension.php
  src/Core/Framework/Framework.php
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
  src/Core/System/DependencyInjection/DependencyInjectionException.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionRegisteredTest.php
  tests/integration/Core/System/SalesChannel/Context/CartRestorerTest.php
  tests/unit/Administration/Notification/IntegrationExtensionTest.php
  tests/unit/Administration/Notification/UserExtensionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FilteredBulkEntityExtensionTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPassTest.php
Owners: @cicada/product-ct-core

refactor: increase stable version of spatial features
  .github/workflows/integration.yml
Owners: @cicada/product-operations

refactor: increase stable version of spatial features
  src/Administration/Resources/app/administration/src/app/assets/scss/variables.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.ts
  src/Administration/Resources/app/administration/src/core/worker/admin-notification-worker.spec.js
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-self-maintained-extension-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/service/cicada-extension.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/extension-store-action.service.ts
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-new-snippet-modal/sw-settings-country-new-snippet-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
Owners: none

chore: Stop putting ES scripts which are unused
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Storefront/Page/Product/ProductPageLoader.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

chore: Change code annotations to after-sales
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block-parent/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-block-override/sw-block/sw-block.spec.js
  src/Administration/Resources/app/administration/src/app/store/block-override.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/block-override.store.ts
Owners: none

chore: Change code annotations to after-sales
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-compat-conditions.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-checkbox.check.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-empty-listeners.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-twigjs-blocks.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-vue-options-api.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-vue-options-api.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/private-feature-declarations.js
  src/Administration/Resources/app/administration/eslint-rules/plugin-rules/no-src-imports.js
  src/Administration/Resources/app/administration/eslint-rules/test-rules/await-async-functions.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
Owners: none

chore: Change code annotations to after-sales
  src/Administration/Resources/app/administration/eslint-rules/core-rules/replace-top-level-blocks-to-extends.js
  src/Administration/Resources/app/administration/eslint-rules/core-rules/require-explicit-emits.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-compat-conditions.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-component-usage-checks/mt-checkbox.check.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-deprecated-components.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-empty-listeners.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-twigjs-blocks.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-vue-options-api.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-vue-options-api.spec.js
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/private-feature-declarations.js
  src/Administration/Resources/app/administration/eslint-rules/plugin-rules/no-src-imports.js
  src/Administration/Resources/app/administration/eslint-rules/test-rules/await-async-functions.js
  src/Core/Framework/Log/Package.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Storefront/Theme/Validator/SCSSValidator.php
  tests/unit/Core/Content/Media/Commands/DeleteNotUsedMediaCommandTest.php
  tests/unit/Core/Framework/FeatureTest.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
  vendor-bin/roave-backward-compatibility-check/composer.json
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

chore: Change code annotations to after-sales
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
Owners: none

test: do not error on dependency deprecations in unit test
  composer.json
  phpunit.xml.dist
Owners: @cicada/product-ct-core

test: deactivate git calls for Changelog test
  src/Core/Framework/Changelog/ChangelogParser.php
Owners: none

fix: Don't generate new ID for non PK id fields
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializer.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/NonIdFieldNamePrimaryKeyTestDefinition.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializerTest.php
Owners: @cicada/product-ct-core

fix: deprecate cache id loading for next major
  src/Core/Framework/Adapter/Cache/CacheIdLoader.php
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/integration/Core/Framework/Cache/CacheIdLoaderTest.php
  tests/unit/Core/Framework/Cache/CacheIdLoaderTest.php
Owners: @cicada/product-ct-core
