Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

fix(css): remove underlined text from category navigation
  src/Storefront/Resources/app/storefront/src/scss/component/_category-navigation.scss
Owners: @cicada/product-ct-storefront

feat: Added --theme-name option to theme:dump command
  src/Storefront/Theme/Command/ThemeDumpCommand.php
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
Owners: @cicada/product-ct-storefront

fix: buildOnlyExtensions is only working in production builds
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/code-mods.js
  src/Administration/Resources/app/administration/webpack.config.js
  src/Core/Content/Category/SalesChannel/CategoryRoute.php
  src/Core/Content/Cms/SalesChannel/CmsRoute.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/DataAbstractionLayer/Search/EntitySearchResult.php
  src/Storefront/Page/Maintenance/MaintenancePageLoader.php
  src/Storefront/Page/Navigation/Error/ErrorPageLoader.php
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  tests/integration/Core/Content/Product/Api/ProductApiTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/Api/Controller/SalesChannelProxyControllerTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/FieldResolver/ManyToOneAssociationFieldResolverTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/RemoteAddressFieldTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Version/VersioningTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/unit/Core/Content/Cms/SalesChannel/CmsRouteTest.php
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

feat: allow node 23
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/zh-CN.json
  src/Core/Migration/Traits/StateMachineMigration.php
  src/Core/Migration/Traits/StateMachineMigrationImporter.php
  src/Core/Migration/V6_4/Migration1643878976AddCaptureRefundStateMachines.php
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
Owners: @cicada/product-ct-storefront

feat: allow node 23
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/sw-product-variant-modal.html.twig
Owners: none

feat: allow node 23
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/sw-product-variant-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/sw-product-variant-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/index.js
  src/Core/Defaults.php
Owners: none

feat: Assertive cart updates for screen reader users
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary.html.twig
Owners: @cicada/product-ct-storefront

feat: Introduce ESI for header and footer parts of the page
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  tests/integration/Storefront/Page/ProductPageTest.php
Owners: @cicada/product-ct-storefront

feat: Introduce ESI for header and footer parts of the page
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Core/Framework/Test/Plugin/_fixture/apps/plugin/manifest.xml
Owners: none

test: start transaction again, when container reboot comitted it, move tests to unit
  src/Core/Framework/Framework.php
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
  tests/unit/Core/Framework/App/Event/AppActivatedEventTest.php
  tests/unit/Core/Framework/App/Event/AppDeactivatedEventTest.php
  tests/unit/Core/Framework/App/Event/AppDeletedEventTest.php
  tests/unit/Core/Framework/App/Event/AppFlowActionEventTest.php
  tests/unit/Core/Framework/App/Event/AppInstalledEventTest.php
  tests/unit/Core/Framework/App/Event/AppUpdatedEventTest.php
  tests/unit/Core/Framework/FrameworkTest.php
Owners: @cicada/product-ct-core

refactor: change support link styles on sidebar
  src/Administration/Resources/app/administration/src/app/asyncComponent/sidebar/sw-help-sidebar/sw-help-sidebar.scss
Owners: none

refactor: change support link styles on sidebar
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Owners: none

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core
