Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

DeleteAddressRouteTest::testDeleteActiveAddress
  tests/unit/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldTypes/TextFieldTest.php
  tests/unit/Core/Framework/App/Manifest/Xml/CustomField/CustomFieldTypes/_fixtures/text-field.xml
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker-deprecated/sw-datepicker-deprecated.spec.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-date-filter/sw-date-filter.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/sw-time-ago.spec.js
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-activity-log-info-modal/sw-import-export-activity-log-info-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-activity-result-modal/sw-import-export-activity-result-modal.spec.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-country-state-select.plugin.test.js
Owners: @cicada/product-ct-storefront

feat: mysql cache tag invalidator storage
  config-schema.json
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Event/CartChangedEvent.php
  src/Core/Checkout/Cart/Event/CheckoutOrderPlacedEvent.php
  src/Core/Checkout/Customer/Event/CustomerDeletedEvent.php
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/cicada.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/integration/Core/System/SalesChannel/SalesChannel/ContextSwitchRouteTest.php
  tests/integration/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Owners: @cicada/product-ct-core

fix: Reboot container
  phpstan-v67-baseline.neon
  phpstan.neon.dist
  src/Core/DevOps/StaticAnalyze/StaticAnalyzeKernel.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
Owners: @cicada/product-ct-core

fix: `totalReviewCount` with matrix total
  src/Core/Content/Product/SalesChannel/Review/ProductReviewLoader.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewResult.php
  src/Storefront/Resources/views/storefront/component/review/review-widget.html.twig
  src/Storefront/Resources/views/storefront/component/review/review.html.twig
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

fix: 24h format in custom fields datepicker
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker-deprecated/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-in-app-purchase-checkout/sw-in-app-purchase-checkout.spec.js
  src/Administration/Resources/app/administration/src/app/init/in-app-purchase-checkout.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/in-app-purchase-checkout.init.ts
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.ts
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.spec.js
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-page-form/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-date/sw-custom-field-type-date.html.twig
Owners: none

fix: 24h format in custom fields datepicker
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
  tests/integration/Storefront/Page/SearchPageTest.php
Owners: none

fix: 24h format in custom fields datepicker
  tests/integration/Core/Checkout/Cart/Rule/CartAmountRuleTest.php
Owners: none

fix: 24h format in custom fields datepicker
  tests/integration/Core/Content/Product/ProductFeatureSet/ProductFeatureSetCrudTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
  tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
Owners: none

fix: 24h format in custom fields datepicker
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/sw-customer-create.html.twig
Owners: none

fix: 24h format in custom fields datepicker
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/component/structure/sw-in-app-purchase-checkout/sw-in-app-purchase-checkout.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
Owners: none

init
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item/sw-sidebar-item.scss
  src/Administration/Resources/app/administration/src/app/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/zh-CN.json
  src/Core/Checkout/Customer/SalesChannel/ChangeCustomerProfileRoute.php
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
Owners: @cicada/product-ct-storefront

init
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Owners: @cicada/product-ct-storefront

init
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
Owners: @cicada/product-ct-storefront

fix: support image gallery navigation 'none' configurations
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/index.ts
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Owners: @cicada/product-ct-storefront

tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-country-state-select.plugin.test.js
Owners: @cicada/product-ct-storefront

tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: none

tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
  tests/unit/Core/Framework/Log/PackageTest.php
Owners: none

tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.html.twig
  tests/unit/Core/Framework/Log/PackageTest.php
Owners: none

tests/integration/Core/Content/Product/SalesChannel/Review/CachedProductReviewRouteTest.php
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/error-config.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/snippet/zh-CN.json
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Owners: @cicada/product-ct-storefront

feat: [A11y-HTML] Mark image as decorative
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/zh-CN.json
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Storefront/Controller/CaptchaController.php
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-image.html.twig
Owners: @cicada/product-ct-storefront

fix: revert changes to RetryableQuery
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
Owners: @cicada/product-ct-core

chore: fix wrong feature tag check
  src/Core/Framework/Adapter/AdapterException.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Plugin/CopyBatchTest.php
Owners: @cicada/product-ct-core

refactor: Improve PaymentMethodIndexer context state usage
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexer.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexerTest.php
Owners: none

fix: Use plugin upgrade version, if available, when checking requirements
  src/Core/Framework/Plugin/Requirement/RequirementsValidator.php
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagTestValidateConflictsValidOtherPluginDuringUpdateA/composer.json
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagTestValidateConflictsValidOtherPluginDuringUpdateB/composer.json
  tests/unit/Core/Framework/Plugin/Requirement/RequirementsValidatorTest.php
Owners: @cicada/product-ct-core

chore: extract domain exception for MigrationCommand
  phpstan-baseline.neon
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Framework/Migration/MigrationException.php
  tests/unit/Core/Framework/Migration/Command/CreateMigrationCommandTest.php
  tests/unit/Core/Framework/Migration/MigrationExceptionTest.php
Owners: @cicada/product-ct-core

fix(accessibility): improve accessibility of the product variant switch
  src/Storefront/Resources/app/storefront/src/plugin/variant-switch/variant-switch.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator/select.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
Owners: @cicada/product-ct-storefront

fix: set the trusted hosts back correctly
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Storefront/Framework/SystemCheck/SaleChannelsReadinessCheck.php
  tests/integration/Storefront/Framework/HealthCheck/SaleChannelsReadinessCheckTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

fix: set the trusted hosts back correctly
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/migration/Core/V6_6/Migration1663402950SetDoubleOptinCustomerActiveTest.php
Owners: none

fix: set the trusted hosts back correctly
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: none

fix: set the trusted hosts back correctly
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Checkout/Customer/Repository/CustomerTagTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerSalutationSubscriberTest.php
Owners: @cicada/product-ct-storefront

fix: set the trusted hosts back correctly
  src/Core/Test/Integration/Builder/Customer/CustomerBuilder.php
  tests/integration/Core/System/SalesChannel/Context/CartRestorerTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextRestorerTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextTest.php
  tests/integration/Core/System/SalesChannel/SalesChannel/ContextSwitchRouteTest.php
  tests/integration/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
Owners: none

fix: set the trusted hosts back correctly
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  tests/integration/Storefront/Controller/AccountOrderControllerTest.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
Owners: none

fix: set the trusted hosts back correctly
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Core/System/SalesChannel/SalesChannel/ContextSwitchRouteTest.php
  tests/integration/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
  tests/integration/Storefront/Controller/AccountProfileControllerTest.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Controller/WishlistControllerTest.php
Owners: @cicada/product-ct-storefront

fix: set the trusted hosts back correctly
  phpstan-baseline.neon
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPhoneNumberUnique.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPhoneNumberUniqueValidator.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Test/Integration/Builder/Customer/CustomerBuilder.php
  tests/integration/Core/Checkout/Cart/CartTaxTest.php
  tests/integration/Core/Checkout/Cart/Order/OrderPersisterTest.php
  tests/integration/Core/Checkout/Cart/Promotion/Integration/Calculation/PromotionAbsoluteCalculationTest.php
  tests/integration/Core/Checkout/Cart/Promotion/Integration/PromotionDiscountCompositionTest.php
  tests/integration/Core/Checkout/Cart/Promotion/Integration/PromotionExtensionCodesTest.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/integration/Core/Checkout/Customer/Repository/CustomerRepositoryTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ChangeEmailRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ChangeProfileRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/DeleteAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LoginRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ResetPasswordRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/SwitchDefaultAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerBeforeDeleteSubscriberTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerChangePasswordSubscriberTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerTokenSubscriberTest.php
  tests/integration/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  tests/integration/Core/Checkout/Order/Listener/OrderStateChangeEventListenerTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/integration/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
  tests/integration/Core/Checkout/Validation/CustomerEmailUniqueValidatorTest.php
  tests/integration/Core/Checkout/Validation/CustomerPhoneNumberUniqueValidatorTest.php
Owners: none

fix: set the trusted hosts back correctly
  tests/integration/Core/Checkout/Customer/SalesChannel/ListAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressTest.php
Owners: none

fix: set the trusted hosts back correctly
  tests/integration/Core/Checkout/Order/OrderRepositoryTest.php
Owners: none

fix: set the trusted hosts back correctly
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/Content/Test/Flow/OrderActionTrait.php
  src/Core/Migration/V6_4/Migration1626696809AddImportExportCustomerProfile.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ResetPasswordRouteTest.php
  tests/integration/Core/Content/Flow/AddCustomerTagActionTest.php
  tests/integration/Core/Content/Flow/SendMailActionTest.php
  tests/integration/Core/Content/ImportExport/fixtures/customers.csv
  tests/integration/Core/Content/ImportExport/fixtures/customers_boundsaleschannel.csv
  tests/integration/Core/Content/Product/Cart/ProductLineItemCommandValidatorTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/Indexing/ProductRatingAverageIndexerTest.php
  tests/integration/Core/Content/Product/Stock/StockStorageTest.php
Owners: @cicada/product-ct-core

fix: set the trusted hosts back correctly
  tests/integration/Core/Content/Flow/ChangeCustomerGroupActionTest.php
  tests/integration/Core/Content/Flow/ChangeCustomerStatusActionTest.php
  tests/integration/Core/Content/Flow/RemoveCustomerTagActionTest.php
  tests/integration/Core/Content/MailTemplate/Api/MailActionControllerTest.php
  tests/integration/Core/Content/Product/Cart/ProductCartProcessorTest.php
Owners: none

fix: set the trusted hosts back correctly
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/eslint-rules/deprecation-rules/no-vue-options-api.spec.js
Owners: none

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core
