Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

feat:customer has no default payment method anymore
  src/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommand.php
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerFlowEventsSubscriberTest.php
Owners: none

feat:customer has no default payment method anymore
  config-schema.json
  src/Core/Framework/Api/OAuth/JWTConfigurationFactory.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/Resources/config/packages/cicada.yaml
  src/Core/Installer/Controller/DatabaseConfigurationController.php
  src/Core/Installer/Controller/RequirementsController.php
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommand.php
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/Maintenance/System/Service/DatabaseConnectionFactory.php
  src/Core/Maintenance/System/Service/JwtCertificateGenerator.php
  src/Core/Maintenance/System/Service/ShopConfigurator.php
  src/Core/Maintenance/System/Struct/DatabaseConnectionInformation.php
  tests/unit/Core/Framework/Api/OAuth/JWTConfigurationFactoryTest.php
  tests/unit/Core/Installer/Controller/DatabaseConfigurationControllerTest.php
  tests/unit/Core/Installer/Controller/RequirementsControllerTest.php
  tests/unit/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommandTest.php
  tests/unit/Core/Maintenance/System/Command/SystemSetupCommandTest.php
  tests/unit/Core/Maintenance/System/Service/JwtCertificateGeneratorTest.php
Owners: @cicada/product-ct-core

feat:customer has no default payment method anymore
  config-schema.json
  src/Core/Framework/DependencyInjection/api.xml
Owners: none

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-media-item/sw-media-media-item.html.twig
Owners: none

fix: media folder creation not possible with enter key
  .github/workflows/saas-branch.yml
  src/Storefront/Resources/views/storefront/utilities/alert.html.twig
Owners: @cicada/product-operations, @cicada/product-ct-storefront

fix: media folder creation not possible with enter key
  config-schema.json
Owners: none

fix: media folder creation not possible with enter key
  src/Core/Checkout/Payment/Cart/Token/JWTConfigurationFactory.php
Owners: none

fix: media folder creation not possible with enter key
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Owners: none

fix: media folder creation not possible with enter key
  src/Core/Checkout/Payment/PaymentMethodCollection.php
  src/Core/Checkout/Shipping/ShippingMethodCollection.php
Owners: none

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Core/Checkout/Order/Exception/DeliveryWithoutAddressException.php
Owners: none

fix: media folder creation not possible with enter key
  tests/migration/Core/V6_6/Migration1663402950SetDoubleOptinCustomerActiveTest.php
Owners: none

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Storefront/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Storefront/Resources/views/storefront/component/shipping/shipping-method.html.twig
Owners: @cicada/product-ct-storefront

fix: media folder creation not possible with enter key
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/OrderPersister.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Order/OrderException.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Internal/InternalClassRule.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Owners: @cicada/product-ct-core

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
Owners: none

fix: media folder creation not possible with enter key
  tests/unit/Core/Checkout/Cart/CustomCartProcessorTest.php
  tests/unit/Core/Checkout/Cart/ProductCartProcessorTest.php
Owners: none

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Owners: none

fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
Owners: @cicada/product-ct-storefront

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.spec.js
Owners: none

fix: display sales channel name in the order list
  .github/bin/blue-green-check.php
  .github/workflows/integration.yml
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.ts
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Checkout/Payment/Cart/PaymentHandler/PrePayment.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/Migration/V6_3/Migration1580218617RefactorShippingMethodPrice.php
  src/Core/Migration/V6_3/Migration1587109484AddAfterOrderPaymentFlag.php
  src/Core/Migration/V6_5/Migration1697112043AddPaymentAndShippingTechnicalName.php
  src/Core/Migration/V6_6/Migration1720603803RemoveDefaultPaymentMethodFlows.php
  src/Core/Migration/V6_6/Migration1720603803RemoveDefaultPaymentMethodRule.php
  src/Core/Migration/V6_7/Migration1720610755RemoveDefaultPaymentMethodFromCustomer.php
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  tests/integration/Core/Checkout/Cart/SalesChannel/CartServiceTest.php
  tests/integration/Core/Content/Product/Cart/ProductCartProcessorTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/CountryStateControllerTest.php
  tests/integration/Storefront/Framework/Command/SalesChannelCreateStorefrontCommandTest.php
  tests/integration/Storefront/Framework/Media/StorefrontMediaUploaderTest.php
  tests/integration/Storefront/Framework/Routing/ResponseHeaderListenerTest.php
  tests/integration/Storefront/Page/Account/EditOrderPageTest.php
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/migration/Core/V6_6/Migration1715081559AdjustSentMailActionOnReviewSentTest.php
  tests/migration/Core/V6_6/Migration1720603803RemoveDefaultPaymentMethodFlowsTest.php
  tests/migration/Core/V6_6/Migration1720603803RemoveDefaultPaymentMethodRuleTest.php
  tests/migration/Core/V6_7/Migration1720610755RemoveDefaultPaymentMethodFromCustomerTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/Helpers/Traits/LineItemTestFixtureBehaviour.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerValidationFactoryTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentHandler/PrePaymentTest.php
  tests/unit/Core/Framework/Routing/RoutingExceptionTest.php
Owners: @cicada/product-operations, @cicada/product-ct-storefront

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/core/service/utils/format.utils.ts
  src/Core/Migration/V6_3/Migration1580218617RefactorShippingMethodPrice.php
Owners: none

fix: display sales channel name in the order list
  .git-blame-ignore-revs
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Content/Media/MediaDefinition.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Framework/Context.php
  src/Core/Migration/V6_3/Migration1580218617RefactorShippingMethodPrice.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  tests/devops/Core/DevOps/Docs/Command/App/DocsAppEventCommandTest.php
  tests/integration/Core/Checkout/Order/OrderRepositoryTest.php
Owners: @cicada/product-ct-core

fix: display sales channel name in the order list
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/CustomCartProcessor.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  tests/integration/Core/Checkout/Cart/CartPersisterTest.php
  tests/integration/Core/Checkout/Cart/Tax/TaxDetectorTest.php
  tests/integration/Core/Checkout/Cart/fixtures/cart.blob
  tests/integration/Core/Checkout/Customer/SalesChannel/AccountNewsletterRecipientRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/AddWishlistProductRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ChangeEmailRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ChangeLanguageRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/CustomerRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/DeleteCustomerRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LoadWishlistRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LogoutRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/MergeWishlistProductRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RemoveWishlistProductRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/CancelOrderRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/SetPaymentOrderRouteTest.php
  tests/integration/Core/Checkout/Payment/SalesChannel/PaymentMethodRouteTest.php
  tests/integration/Core/Checkout/Shipping/SalesChannel/ShippingMethodRouteTest.php
Owners: @cicada/product-ct-core

fix: display sales channel name in the order list
  src/Core/Framework/Context.php
  tests/integration/Core/Checkout/BasicOrderProductTest.php
Owners: @cicada/product-ct-core

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-generate-document-modal/sw-flow-generate-document-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.spec.js
  src/Core/Content/MailTemplate/MailTemplateTypes.php
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/en-plain.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/zh-html.html.twig
  src/Core/Migration/Fixtures/mails/downloads_delivery/zh-plain.html.twig
  src/Core/Migration/V6_4/Migration1657173907DownloadMailTemplate.php
  src/Core/Migration/V6_4/Migration1659257296GenerateFlowTemplateDataFromEventAction.php
  src/Core/Migration/V6_4/Migration1659257396DownloadFlow.php
  tests/integration/Core/Content/ContactForm/ContactFormRouteTest.php
  tests/integration/Core/Content/ContactForm/ContactFormServiceTest.php
  tests/integration/Core/Content/Flow/AddCustomerAffiliateAndCampaignCodeActionTest.php
  tests/integration/Core/Content/Flow/ChangeCustomerStatusActionTest.php
  tests/integration/Core/Content/Flow/SetCustomerCustomFieldActionTest.php
  tests/integration/Core/Content/ImportExport/fixtures/cicada-logo.png
  tests/integration/Core/Content/ImportExport/fixtures/customers.csv
  tests/integration/Core/Content/ImportExport/fixtures/customers_boundsaleschannel.csv
  tests/integration/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdaterTest.php
  tests/integration/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/RemoteAddressFieldTest.php
Owners: none

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.js
  src/Core/LICENSE
  src/Core/Migration/V6_3/Migration1580218617RefactorShippingMethodPrice.php
  src/Elasticsearch/LICENSE
  src/Storefront/LICENSE
  tests/unit/Core/Checkout/Cart/CustomCartProcessorTest.php
  tests/unit/Core/Checkout/Cart/ProductCartProcessorTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/app/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/app/store/admin-menu.store.spec.ts
  src/Administration/Resources/app/administration/src/app/store/admin-menu.store.ts
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-property/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-review/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/zh-CN.json
Owners: none

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/snippet/zh-CN.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/zh-CN.json
Owners: @cicada/product-ct-storefront

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
Owners: none

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-192x192.png
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-256x256.png
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-512x512.png
  src/Administration/Resources/app/administration/static/img/favicon/apple-touch-icon.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon-16x16.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon-32x32.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon.ico
  src/Administration/Resources/app/administration/static/img/favicon/mstile-150x150.png
  src/Core/Installer/Resources/public/assets/images/favicon/favicon-16x16.png
  src/Core/Installer/Resources/public/assets/images/favicon/favicon-32x32.png
  src/Core/Installer/Resources/public/assets/images/sw-logo-blue.svg
  src/Storefront/Resources/app/storefront/dist/assets/logo/android-touch-icon.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/apple-touch-icon.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/demostore-logo.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/favicon.png
Owners: @cicada/product-ct-storefront

fix: display sales channel name in the order list
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.html.twig
Owners: none

fix: display sales channel name in the order list
  src/Core/Checkout/Customer/CustomerEntity.php
Owners: none

fix: display sales channel name in the order list
  src/Core/Migration/V6_3/Migration1580218617RefactorShippingMethodPrice.php
  tests/integration/Core/Content/ContactForm/ContactFormRouteTest.php
Owners: none

fix: style lint php/js
  src/Administration/Resources/app/administration/src/app/init-pre/api-services.init.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/meta/data-sets.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/sw-newsletter-recipient-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/sw-order-state-history-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/sw-order-detail-documents.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-new-snippet-modal/sw-settings-country-new-snippet-modal.spec.js
Owners: none

fix: style lint php/js
  .github/workflows/integration.yml
  tests/integration/Core/Content/Product/DataAbstractionLayer/CheapestPrice/CheapestPriceTest.php
  tests/integration/Storefront/Controller/ScriptControllerTest.php
  tests/integration/Storefront/Page/Checkout/ConfirmPageTest.php
Owners: @cicada/product-operations

oom on file upload
  src/Core/Framework/Api/EventListener/JsonRequestTransformerListener.php
  src/Core/Framework/Api/OAuth/BearerTokenValidator.php
Owners: @cicada/product-ct-core

oom on file upload
  .github/workflows/integration.yml
Owners: @cicada/product-operations

oom on file upload
  .github/workflows/integration.yml
Owners: @cicada/product-operations

add check job to consolidate required checks
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-modal-delete/sw-media-modal-delete.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin/sw-admin.html.twig
  src/Administration/Resources/app/administration/src/app/store/admin-menu.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-store-landing-page/sw-extension-store-landing-page.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search-keyword/sw-settings-search-live-search-keyword.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.html.twig
Owners: none

add check job to consolidate required checks
  src/Core/composer.json
Owners: @cicada/product-ct-core

add check job to consolidate required checks
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/sw-customer-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/sw-customer-create.spec.js
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
Owners: none

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core
