Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core

add check job to consolidate required checks
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
Owners: none

add check job to consolidate required checks
  src/Core/Checkout/Customer/CustomerEntity.php
Owners: none

add check job to consolidate required checks
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
Owners: @cicada/product-ct-core

truncate long custom field descriptions in rulebuilder
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.spec.js
  tests/integration/Core/Framework/App/Payment/AbstractAppPaymentHandlerTestCase.php
Owners: none

make cache hash deterministic
  src/Core/Kernel.php
Owners: none

make cache hash deterministic
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: none

make cache hash deterministic
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Owners: none

make cache hash deterministic
  tests/unit/Core/Framework/FeatureTest.php
Owners: none

add SystemLanguageChangeEvent to ShopConfigurator
  src/Core/Installer/Configuration/ShopConfigurationService.php
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Maintenance/System/Service/ShopConfigurator.php
  src/Core/Maintenance/System/Service/SystemLanguageChangeEvent.php
  tests/integration/Core/Installer/Configuration/ShopConfigurationServiceTest.php
  tests/unit/Core/Maintenance/System/Service/ShopConfiguratorTest.php
Owners: none

add SystemLanguageChangeEvent to ShopConfigurator
  src/Core/Maintenance/DependencyInjection/services.xml
Owners: none

move mail variable update to system scope
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
Owners: none

set cicada-version to 6.7 in major ats
  src/Core/Framework/DependencyInjection/CompilerPass/FrameworkMigrationReplacementCompilerPass.php
  src/Core/Framework/DependencyInjection/services.xml
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/FrameworkMigrationReplacementCompilerPassTest.php
Owners: none

set cicada-version to 6.7 in major ats
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
Owners: none

init
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/error-config.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-new-customer-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-initial/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-settings-payment-sorting-modal/index.js
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Content/Test/Flow/OrderActionTrait.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  src/Core/Test/Integration/Builder/Customer/CustomerBuilder.php
  src/Core/Test/Integration/Traits/OrderFixture.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
Owners: @cicada/product-ct-storefront

move promotion and salutation to checkout domain
  tests/integration/Core/Framework/Translation/TranslatorTest.php
  tests/migration/Core/V6_6/Migration1727768690UpdateDefaultEnglishPlainMailFooterTest.php
Owners: none

Implement new encode event for store api responses
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
Owners: none

cannot expand flowbuilder items after scrolling down
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/index.js
Owners: none

fix: Price field overrides
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/index.js
Owners: none

feat: Admin vite plugins
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-path-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/asset-path-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/externals-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/externals-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/spec.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/tsconfig.json
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Resources/config/packages/pentatrion_vite.yaml
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Maintenance/Staging/Event/SetupStagingEvent.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Owners: @cicada/product-ct-core

refactor: Get current currency from context in template files
  config-schema.json
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/cicada.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter/filter-range.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

feat: improve plugin migration reliability
  src/Core/Framework/Migration/MigrationCollection.php
  src/Core/Framework/Migration/MigrationException.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  tests/unit/Core/Framework/Migration/MigrationStepTest.php
Owners: @cicada/product-ct-core

refactor: Use the collection instead of array during creation of breadcrumbs for the experimental store API
  src/Core/Content/Breadcrumb/SalesChannel/BreadcrumbRoute.php
  src/Core/Content/Breadcrumb/Struct/Breadcrumb.php
  src/Core/Content/Breadcrumb/Struct/BreadcrumbCollection.php
  src/Core/Content/Category/Service/CategoryBreadcrumbBuilder.php
  tests/unit/Core/Content/Breadcrumb/SalesChannel/BreadcrumbRouteTest.php
  tests/unit/Core/Content/Breadcrumb/Struct/BreadcrumbCollectionTest.php
  tests/unit/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
Owners: none

Area mapping discovery
  .danger.php
  .github/workflows/integration.yml
  composer.json
  phpunit.xml.dist
  src/Administration/composer.json
  src/Core/Content/ImportExport/Processing/Writer/CsvFileWriter.php
  src/Core/Content/Media/Subscriber/CustomFieldsUnusedMediaSubscriber.php
  src/Core/Framework/Adapter/Translation/TranslatorCacheInvalidate.php
  src/Core/Framework/DataAbstractionLayer/FieldType/DateInterval.php
  src/Core/System/Snippet/Subscriber/CustomFieldSubscriber.php
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/TreeIndexerTest.php
  tests/integration/Storefront/Controller/ContextControllerContextTest.php
  tests/unit/Core/Framework/Adapter/Translation/TranslatorCacheInvalidateTest.php
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
Owners: @cicada/product-operations, @cicada/product-ct-core

chore: Add `discovery` to the phpstan-type `PackageString`
  releases.json
  src/Core/Framework/Log/Package.php
Owners: @cicada/product-ct-core

chore: Add `discovery` to the phpstan-type `PackageString`
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
Owners: none

chore: Add `discovery` to the phpstan-type `PackageString`
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
Owners: none

revert: "feat: mysql cache tag invalidator storage"
  config-schema.json
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/cicada.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Owners: @cicada/product-ct-core

revert: "feat: mysql cache tag invalidator storage"
  .github/PULL_REQUEST_TEMPLATE.md
  phpstan-baseline.neon
  phpstan-v67-baseline.neon
  src/Core/Content/Product/Hook/Pricing/ProductProxy.php
  src/Core/DevOps/Docs/Script/ServiceReferenceGenerator.php
  src/Core/DevOps/Resources/generated/cart-manipulation-script-services-reference.md
  src/Core/DevOps/Resources/generated/custom-endpoint-script-services-reference.md
  src/Core/DevOps/Resources/generated/data-loading-script-services-reference.md
  src/Core/DevOps/Resources/generated/miscellaneous-script-services-reference.md
  src/Core/DevOps/Resources/generated/product-script-services-reference.md
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/tags/tags.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/tags/tags.json
  src/Core/Installer/Database/MigrationCollectionFactory.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/DomainExceptionRuleTest.php
  tests/integration/Core/Framework/App/_fixtures/App/TestApp/manifest.xml
  tests/integration/Core/Framework/App/_fixtures/AppInvalidPrefix/TestApp/manifest.xml
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/Api/ApiDefinition/Generator/Schema/AdminApi/tags/tags.json
  tests/unit/Core/Framework/Api/ApiDefinition/Generator/_fixtures/Api/ApiDefinition/Generator/Schema/StoreApi/tags/tags.json
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/_fixtures/manifest1.xml
  tests/unit/Core/Service/_fixtures/manifest2.xml
Owners: @cicada/product-operations, @cicada/product-ct-core

fix: use cache dir from parameter
  src/Core/Kernel.php
Owners: none

feat: consider bulk entity extension for autoconfiguration
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
Owners: none

fix: Select initial hreflang localisation when creating a new sales channel domain
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
Owners: none

feat: add controller specific route event
  src/Core/Framework/Routing/RouteEventSubscriber.php
Owners: @cicada/product-ct-core

fix: dont emit deprecations for production environments
  src/Core/Framework/Feature.php
  src/Core/Framework/Framework.php
  src/Core/Kernel.php
  tests/unit/Core/Framework/FrameworkTest.php
Owners: @cicada/product-ct-core

fix(apps): http cache is not cleared when templates are updated
  src/Core/Framework/Adapter/Twig/EntityTemplateLoader.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/App/Lifecycle/Persister/TemplatePersister.php
  src/Core/Framework/App/Template/TemplateDefinition.php
  src/Core/Framework/App/Template/TemplateEntity.php
  src/Core/Framework/App/Template/TemplateStateService.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Migration/V6_6/Migration1733323215AddHashToAppTemplate.php
  tests/integration/Core/Framework/Adapter/Twig/EntityTemplateLoaderTest.php
  tests/migration/Core/V6_6/Migration1733323215AddHashToAppTemplateTest.php
  tests/unit/Core/Framework/Adapter/EntityTemplateLoaderTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/TemplatePersisterTest.php
Owners: @cicada/product-ct-core

feat: Add product slider release date sorting
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/zh-CN.json
Owners: none

feat: lazy create custom entity repositories to improve application
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/System/CustomEntity/CustomEntityRegistrar.php
  src/Core/System/CustomEntity/Schema/DynamicFieldFactory.php
Owners: @cicada/product-ct-core

fix: call feature check once in ExtensionRegistry
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
Owners: @cicada/product-ct-core

fix: call feature check once in ExtensionRegistry
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
Owners: @cicada/product-ct-core

chore: allow php8.4 to fail
  .github/workflows/integration.yml
Owners: @cicada/product-operations

fix:  `dal:migration:create` command doesn't create foreign keys
  src/Core/Framework/DataAbstractionLayer/MigrationQueryGenerator.php
  tests/unit/Core/Framework/DataAbstractionLayer/MigrationQueryGeneratorTest.php
Owners: @cicada/product-ct-core
