Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

init
  .github/workflows/01-sync-commit.yml
Owners: @cicada/product-operations

init
  .github/workflows/01-sync-commit.yml
  src/Administration/README.md
  src/Core/README.md
  src/Elasticsearch/README.md
  src/Storefront/README.md
Owners: @cicada/product-operations, @cicada/product-ct-core, @cicada/product-ct-storefront

init
  .github/workflows/01-sync-commit.yml
  src/Administration/README.md
Owners: @cicada/product-operations

init
  .github/workflows/01-sync-commit.yml
  src/Administration/LICENSE
Owners: @cicada/product-operations

init
  .github/workflows/06-publish-tag.yml
Owners: @cicada/product-operations

init
  .github/workflows/01-compile-assert.yml
Owners: @cicada/product-operations

init
  src/Administration/Resources/app/administration/package.json
Owners: none

init
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  .github/workflows/storefront.yml
Owners: @cicada/product-ct-storefront, @cicada/product-operations

init
  src/Administration/Resources/app/administration/package-lock.json
Owners: none

init
  phpstan.neon.dist
Owners: none

init
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: none

init
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Core/Test/TestDefaults.php
  tests/unit/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
  tests/unit/Core/Installer/Configuration/AdminConfigurationServiceTest.php
  tests/unit/Core/Maintenance/User/Service/UserProvisionerTest.php
Owners: none

init
  src/Administration/Resources/app/administration/src/app/main.ts
  src/Administration/Resources/app/administration/src/app/main.vite.ts
Owners: none

init
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  .github/workflows/php.yml
  tests/unit/Core/Checkout/Customer/Rule/LastNameRuleTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGeneratorTest.php
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  .github/workflows/php.yml
  tests/unit/Core/Checkout/Rule/Rule/Context/LastNameRuleTest.php
  tests/unit/Core/Framework/Plugin/_assertions/PluginListCommandTest-testCommand.txt
Owners: @cicada/product-ct-core, @cicada/product-operations

init
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-192x192.png
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-256x256.png
  src/Administration/Resources/app/administration/static/img/favicon/android-chrome-512x512.png
  src/Administration/Resources/app/administration/static/img/favicon/apple-touch-icon.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon-16x16.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon-32x32.png
  src/Administration/Resources/app/administration/static/img/favicon/favicon.ico
  src/Administration/Resources/app/administration/static/img/favicon/mstile-150x150.png
  src/Core/Installer/Resources/public/assets/images/cicada_logo_white_on_blue.svg
  src/Core/Installer/Resources/public/assets/images/favicon/favicon-16x16.png
  src/Core/Installer/Resources/public/assets/images/favicon/favicon-32x32.png
  src/Core/Installer/Resources/public/assets/images/installer_logo.png
  src/Core/Installer/Resources/public/assets/images/installer_logo_small.png
  src/Core/Installer/Resources/public/assets/images/sw-logo-blue.svg
  src/Storefront/Resources/app/storefront/dist/assets/logo/android-touch-icon.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/apple-touch-icon.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/demostore-logo.png
  src/Storefront/Resources/app/storefront/dist/assets/logo/favicon.png
Owners: @cicada/product-ct-storefront

Add cicada logo
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.scss
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
Owners: none

Add cicada logo
  .gitattributes
  src/Administration/.gitattributes
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.html.twig
  src/Core/.gitattributes
  src/Elasticsearch/.gitattributes
  src/Storefront/.gitattributes
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

Add cicada logo
  src/Administration/Resources/app/administration/static/img/extension-store/store_illustration.svg
Owners: none

Fix php unit test error
  tests/unit/Core/Maintenance/System/Service/ShopConfiguratorTest.php
  tests/unit/Elasticsearch/Framework/ElasticsearchFieldBuilderTest.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Owners: none

Change admin username
  src/Core/Installer/Configuration/AdminConfigurationService.php
  tests/unit/Core/Installer/Configuration/AdminConfigurationServiceTest.php
  tests/unit/Core/Maintenance/User/Service/UserProvisionerTest.php
Owners: none

Change customer username
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-profile/snippet/zh-CN.json
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/zh-CN.json
  src/Core/Content/ContactForm/Validation/ContactFormValidationFactory.php
  src/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdater.php
  src/Core/Installer/Resources/views/installer/shop-configuration.html.twig
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  tests/integration/Core/Content/ContactForm/ContactFormServiceTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
  tests/unit/Core/Content/ContactForm/Validation/ContactFormValidationFactoryTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SendMailActionTest.php
  tests/unit/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdaterTest.php
  tests/unit/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
  tests/unit/Core/Installer/Controller/ShopConfigurationControllerTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilderTest.php
Owners: @cicada/product-ct-storefront

Change customer username
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/migration/Core/V6_6/Migration1663402950SetDoubleOptinCustomerActiveTest.php
Owners: none

Change customer username
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/zh-CN.json
Owners: none

Change customer username
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
Owners: none

Change customer username
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
Owners: none

fix: get correct path for user icon module
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
Owners: none

fix: get correct path for user icon module
  src/Core/Checkout/Cart/Order/Transformer/CustomerTransformer.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerIndexer.php
  src/Core/Checkout/Customer/Event/CustomerDeletedEvent.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/CustomerProfileValidationFactory.php
  src/Core/Framework/Demodata/Generator/CustomerGenerator.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommand.php
  src/Core/Maintenance/System/Command/SystemIsInstalledCommand.php
  src/Core/Maintenance/System/SystemException.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  src/Core/Test/Integration/Builder/Customer/CustomerBuilder.php
  src/Core/Test/Integration/Traits/OrderFixture.php
  tests/integration/Core/Checkout/Cart/Order/OrderPersisterTest.php
  tests/integration/Core/Framework/App/Payment/AbstractAppPaymentHandlerTestCase.php
  tests/unit/Core/Checkout/Cart/Address/AddressValidatorTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Cart/Order/Transformer/CustomerTransformerTest.php
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerBeforeDeleteSubscriberTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
Owners: none

fix: get correct path for user icon module
  src/Core/Checkout/Customer/DataAbstractionLayer/CustomerIndexer.php
  tests/migration/Core/V6_6/Migration1663402950SetDoubleOptinCustomerActiveTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
Owners: none

fix: get correct path for user icon module
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/account.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
Owners: @cicada/product-ct-core, @cicada/product-ct-storefront

fix: get correct path for user icon module
  src/Administration/Resources/app/administration/src/core/data/error-resolver.data.spec.js
Owners: none

fix: get correct path for user icon module
  src/Storefront/Resources/app/storefront/dist/assets/icon/default/cicada.svg
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Owners: @cicada/product-ct-storefront

feat:allow customer address to be null
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Owners: none

feat:allow customer address to be null
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  tests/integration/Storefront/Controller/RegisterControllerTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Owners: none

feat:allow customer address to be null
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.html.twig
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Owners: none

feat:customer has no default payment method anymore
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/sw-customer-base-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
  src/Core/Checkout/Customer/CustomerCollection.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/Event/CustomerChangedPaymentMethodEvent.php
  src/Core/Checkout/Customer/Rule/CustomerDefaultPaymentMethodRule.php
  src/Core/Checkout/Customer/SalesChannel/AbstractChangePaymentMethodRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePaymentMethodRoute.php
  src/Core/Checkout/Customer/Subscriber/CustomerFlowEventsSubscriber.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/DependencyInjection/rule.xml
  src/Core/Framework/Event/BusinessEventRegistry.php
  src/Core/Framework/Event/BusinessEvents.php
  src/Core/Migration/V6_3/Migration1536232960Customer.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  src/Storefront/Controller/AccountPaymentController.php
  src/Storefront/DependencyInjection/controller.xml
  tests/integration/Core/Checkout/Customer/AccountServiceEventTest.php
  tests/integration/Storefront/Page/Account/EditOrderPageTest.php
  tests/unit/Core/Checkout/Customer/Rule/CustomerDefaultPaymentMethodRuleTest.php
  tests/unit/Core/Checkout/Customer/Subscriber/CustomerFlowEventsSubscriberTest.php
Owners: @cicada/product-ct-storefront

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core
