Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core

ci: add phpstan result cache
  .github/workflows/php.yml
Owners: @cicada/product-ct-core, @cicada/product-operations

feat: changed autocomplete attribute of honeypot field to new-password to prevent autofill in Firefox
  src/Storefront/Resources/views/storefront/component/captcha/honeypot.html.twig
Owners: @cicada/product-ct-storefront

feat: Introduce HydratorClass on AttributeEntity
  .bc-exclude.php
  config/services_test.xml
  phpstan.neon.dist
  src/Core/Framework/DataAbstractionLayer/Attribute/Entity.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityWithHydrator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/DummyHydrator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Owners: @cicada/product-ct-core

fix: fixed issue where plugin wasn't found
  src/Administration/Resources/app/administration/src/app/component/structure/sw-in-app-purchase-checkout/sw-in-app-purchase-checkout.spec.js
  src/Administration/Resources/app/administration/src/app/init/in-app-purchase-checkout.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/in-app-purchase-checkout.init.ts
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.ts
Owners: none

test: prepare upgrade for PHP Unit 11 / PHPStan 2
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/CicadaNamespaceStyleRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/ExtensionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/NoDropStatementInUpdateRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/UseCLIContextRule.php
  src/Core/Test/Stub/EventDispatcher/AssertingEventDispatcher.php
  tests/integration/Administration/Controller/AdminProductStreamControllerTest.php
  tests/integration/Administration/Controller/AdminSearchControllerTest.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Administration/Controller/UserConfigControllerTest.php
  tests/integration/Core/System/Tag/Service/FilterTagIdsServiceTest.php
  tests/integration/Storefront/Framework/Cache/HttpCacheIntegrationTest.php
  tests/performance/bench/AbstractBenchCase.php
  tests/performance/bench/Cases/CategoryBench.php
  tests/performance/bench/Cases/ProductBench.php
  tests/performance/bench/Cases/RuleAreaUpdaterBench.php
  tests/performance/bench/Storefront/ProductDetailRouteBench.php
  tests/performance/bench/Storefront/StorefrontSearchBench.php
  tests/unit/Administration/Controller/UserConfigControllerTest.php
  tests/unit/Core/Checkout/Payment/DataAbstractionLayer/PaymentHandlerIdentifierSubscriberTest.php
  tests/unit/Core/Content/Cms/DataResolver/Element/ElementDataCollectionTest.php
  tests/unit/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdaterTest.php
  tests/unit/Core/Framework/App/Cms/Xml/BlockTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/Validation/PostWriteValidationEventTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/Validation/PreWriteValidationEventTest.php
Owners: @cicada/product-ct-core

fix: UpdateThumbnailsMessage deserialization
  src/Core/Content/Media/Commands/GenerateThumbnailsCommand.php
  src/Core/Content/Media/Message/UpdateThumbnailsMessage.php
  tests/integration/Core/Content/Media/Command/GenerateThumbnailsCommandTest.php
  tests/integration/Core/Content/Media/Message/GenerateThumbnailsHandlerTest.php
Owners: none

feat: Add enumeration field type
  phpstan.neon.dist
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DALFieldsMustBeRegisteredWithSchemaBuilder.php
  src/Core/Framework/DataAbstractionLayer/Attribute/FieldType.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  src/Core/Framework/DataAbstractionLayer/Field/EnumField.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/EnumFieldSerializer.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Test/Stub/EventDispatcher/AssertingEventDispatcher.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityInvalidEnum.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityUnionEnum.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/IntEnum.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/StringEnum.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
  tests/unit/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdaterTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/EnumField/TestIntegerEnum.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/EnumField/TestStringEnum.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/EnumFieldTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/EnumFieldSerializerTest.php
Owners: @cicada/product-ct-core

feat: Add enumeration field type
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Owners: none

feat: Add enumeration field type
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/sw-customer-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/zh-CN.json
Owners: none

feat: Add enumeration field type
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/App/Payment/AbstractAppPaymentHandlerTestCase.php
  tests/integration/Core/System/Country/SalesChannel/CountryStateRouteTest.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
Owners: none

feat: Add enumeration field type
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
Owners: none

chore: default chinese to default language
  src/Core/Framework/Test/TestCaseBase/BasicTestDataBehaviour.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/ChangeLanguageRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/LoginRouteTest.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentDistinguishableNameSubscriberTest.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexerTest.php
  tests/integration/Core/Content/Category/DataAbstractionLayer/CategoryBreadcrumbUpdaterTest.php
  tests/integration/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/integration/Core/Content/Cms/SalesChannel/SalesChannelCmsPageLoaderTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdaterTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchRouteTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductLoadedSubscriberTest.php
  tests/integration/Core/Content/ProductExport/SalesChannel/ProductExportControllerTest.php
  tests/integration/Core/Content/Seo/SeoResolverTest.php
  tests/integration/Core/Content/Seo/SeoUrlGeneratorTest.php
  tests/integration/Core/Content/Seo/SeoUrlUpdaterTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/Api/TranslationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcherTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/TranslatedVersionsTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Field/CustomFieldTranslationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/AntiJoinSearchTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Write/EntityWriterTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Write/TranslationTest.php
  tests/integration/Core/Framework/Plugin/PluginServiceTest.php
  tests/integration/Core/Framework/Seo/SeoUrlPersisterTest.php
  tests/integration/Core/Maintenance/System/Service/ShopConfiguratorTest.php
  tests/integration/Core/System/SalesChannel/Validation/SalesChannelValidatorTest.php
  tests/integration/Core/System/StateMachine/Api/StateMachineActionControllerTest.php
  tests/integration/Storefront/Framework/Routing/RequestTransformerTest.php
Owners: none

chore: default chinese to default language
  .github/workflows/integration.yml
  src/Core/Migration/V6_4/Migration1654839361ProductDownloadDelivery.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
Owners: @cicada/product-operations

chore: default chinese to default language
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Owners: none

chore: default chinese to default language
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
Owners: none

chore: default chinese to default language
  src/Core/Migration/Traits/ImportTranslationsTrait.php
  src/Core/Migration/V6_3/Migration1570622696CustomerPasswordRecovery.php
  src/Core/Migration/V6_4/Migration1619428555AddDefaultMailFooter.php
  src/Core/Migration/V6_6/Migration1711461580SetSystemDefaultForDefaultMailFooter.php
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/migration/Core/ImportTranslationTraitTest.php
  tests/migration/Core/MigrationForeignDefaultLanguageTest.php
Owners: none

chore: default chinese to default language
  src/Core/System/Country/Aggregate/CountryState/CountryStateDefinition.php
  src/Core/System/Country/Aggregate/CountryState/CountryStateEntity.php
  tests/migration/Core/ImportTranslationTraitTest.php
Owners: none

chore: default chinese to default language
  src/Core/Maintenance/SalesChannel/Command/SalesChannelUpdateDomainCommand.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
Owners: @cicada/product-ct-storefront

chore: default chinese to default language
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/System/Country/Aggregate/CountryState/CountryStateEntity.php
  src/Core/Test/Integration/Traits/OrderFixture.php
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/theme.json
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
  tests/integration/Storefront/Controller/AccountOrderControllerTest.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/CountryStateControllerTest.php
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Controller/StorefrontRoutingTest.php
  tests/integration/Storefront/Controller/WishlistControllerTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleServiceTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/integration/Storefront/Theme/fixtures/Apps/noThemeCustomCss/Resources/config/config.xml
  tests/integration/Storefront/Theme/fixtures/PluginWithAdditionalBundles/SubBundle1/Resources/config/config.xml
  tests/integration/Storefront/Theme/fixtures/SimplePlugin/Resources/config/config.xml
  tests/integration/Storefront/Theme/fixtures/ThemeFixtures.php
  tests/integration/Storefront/Theme/fixtures/ThemeWithLabels/Resources/theme.json
Owners: @cicada/product-ct-storefront

chore: default chinese to default language
  src/Core/Checkout/Cart/Order/Transformer/AddressTransformer.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/Migration/V6_3/Migration1561712450NewSystemConfigsAndDefaultValues.php
  src/Storefront/Controller/CountryStateController.php
  src/Storefront/Pagelet/Country/CountryStateDataPageletLoader.php
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Framework/Command/SalesChannelCreateStorefrontCommandTest.php
Owners: @cicada/product-ct-storefront

chore: default chinese to default language
  src/Core/Migration/V6_5/Migration1697112043AddPaymentAndShippingTechnicalName.php
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: none

chore: default chinese to default language
  src/Core/Migration/V6_5/Migration1697112043AddPaymentAndShippingTechnicalName.php
  src/Core/Migration/V6_6/Migration1730911642MoveNamespaceOfShowZipcodeInFrontOfCityConfiguration.php
  src/Core/Migration/V6_6/Migration1737208964DefaultSystemAddress.php
  tests/migration/Core/V6_6/Migration1730911642MoveNamespaceOfShowZipcodeInFrontOfCityConfigurationTest.php
  tests/migration/Core/V6_6/Migration1737208964DefaultSystemAddressTest.php
Owners: none

chore: default chinese to default language
  src/Core/Migration/Fixtures/area/cn-area.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  tests/integration/Storefront/Controller/CountryStateControllerTest.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Core/Test/Integration/Traits/OrderFixture.php
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  tests/integration/Core/Checkout/Customer/SalesChannel/DeleteAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/SwitchDefaultAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressTest.php
  tests/integration/Core/Checkout/Gateway/SalesChannel/CheckoutGatewayRouteTest.php
  tests/integration/Core/Checkout/Order/OrderAddressServiceTest.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentDistinguishableNameSubscriberTest.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexerTest.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Core/Content/Test/Flow/OrderActionTrait.php
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/ImportExport/fixtures/customers.csv
  tests/integration/Core/Content/ImportExport/fixtures/customers_boundsaleschannel.csv
  tests/integration/Core/Content/ImportExport/fixtures/products_with_update_by.csv
  tests/integration/Core/Content/Product/Cart/ProductCartProcessorTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdaterTest.php
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreterTest.php
  tests/integration/Core/Content/ProductExport/SalesChannel/ProductExportControllerTest.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/Migration/V6_3/Migration1587039363AddImportExportLabelField.php
  src/Core/Migration/V6_3/Migration1599134496FixImportExportProfilesForGermanLanguage.php
  src/Core/Migration/V6_4/Migration1625831469AddImportExportCrossSellingProfile.php
  src/Core/Migration/V6_4/Migration1626696809AddImportExportCustomerProfile.php
  src/Core/Migration/V6_4/Migration1627562945AddImportExportPromotionCodesProfile.php
  src/Core/Migration/V6_4/Migration1636449347AddImportExportAdvancedPricesProfile.php
  src/Core/Migration/V6_4/Migration1636971615AddImportExportPromotionDiscountProfile.php
  tests/integration/Core/Content/ImportExport/Command/ImportEntityCommandTest.php
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Storefront/Page/Account/Login/AccountLoginPageLoader.php
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  tests/migration/Core/BasicDataUntouchedTest.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  .github/workflows/integration.yml
  src/Storefront/Page/Account/Login/AccountLoginPageLoader.php
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Owners: @cicada/product-operations, @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Storefront/Page/Account/Login/AccountLoginPageLoader.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Storefront/Page/Account/Login/AccountLoginPageLoader.php
  src/Storefront/Page/Address/Detail/AddressDetailPageLoader.php
  src/Storefront/Page/Address/Listing/AddressListingPageLoader.php
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  .github/workflows/integration.yml
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Owners: @cicada/product-operations, @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Core/Checkout/Customer/SalesChannel/UpsertAddressRoute.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Owners: @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  .github/workflows/integration.yml
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Owners: @cicada/product-operations, @cicada/product-ct-storefront

DeleteAddressRouteTest::testDeleteActiveAddress
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressRouteTest.php
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressTest.php
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  .github/workflows/integration.yml
Owners: @cicada/product-operations

DeleteAddressRouteTest::testDeleteActiveAddress
  tests/integration/Core/Content/ImportExport/Commands/DeleteExpiredFilesCommandTest.php
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  src/Core/Content/ImportExport/Service/DeleteExpiredFilesService.php
  tests/integration/Core/Content/ImportExport/Commands/DeleteExpiredFilesCommandTest.php
Owners: none

DeleteAddressRouteTest::testDeleteActiveAddress
  tests/integration/Core/Framework/App/Api/_fixtures/expectedCmsBlocks.json
  tests/integration/Core/Framework/App/Flow/FlowAction/Xml/ActionTest.php
Owners: none
