Repository xchanming/cicada, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicada/product-ct-core, @cicada/product-ct-admin, @cicada/product-ct-storefront, @cicada/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

chore: allow changelog files without issue, use mr number in that case
  src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/ChangelogParser.php
  tests/integration/Core/Framework/Changelog/ChangelogCommandTest.php
  tests/integration/Core/Framework/Changelog/ChangelogParserTest.php
  tests/integration/Core/Framework/Changelog/ChangelogTestBehaviour.php
Owners: none

chore: B2B domain package
  src/Core/Framework/Log/Package.php
Owners: @cicada/product-ct-core

chore: B2B domain package
  src/Administration/Resources/app/administration/src/app/assets/scss/variables.scss
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Administration/Resources/app/administration/static/img/sw-login-background.png
Owners: none

chore: User phone number field is required
  src/Core/Framework/Test/TestCaseHelper/TestUser.php
  src/Core/Maintenance/User/Command/UserCreateCommand.php
  src/Core/Maintenance/User/Service/UserProvisioner.php
  src/Core/Migration/V6_3/Migration1536232810User.php
  src/Core/System/User/UserDefinition.php
Owners: none

fix: Allow to set default search result sorting
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/zh-CN.json
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessor.php
  src/Core/Content/Product/SalesChannel/Search/ResolvedCriteriaProductSearchRoute.php
  src/Core/Content/Product/SalesChannel/Suggest/ResolvedCriteriaProductSuggestRoute.php
  src/Core/Framework/Log/Package.php
  src/Core/Migration/V6_6/Migration1735112885AddDefaultSearchResultSorting.php
  src/Core/System/SalesChannel/BaseContext.php
  tests/migration/Core/V6_6/Migration1735112885AddDefaultSearchResultSortingTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessorTest.php
  tests/unit/Core/Framework/Log/Monolog/AnnotatePackageProcessorTest.php
Owners: @cicada/product-ct-core

fix: listen to the correct error after cancellation
  phpstan.neon.dist
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-self-maintained-extension-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/service/cicada-extension.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/service/cicada-extension.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/extension-store-action.service.ts
  src/Core/Framework/Store/Api/ExtensionStoreActionsController.php
  src/Core/Framework/Store/Services/AbstractExtensionLifecycle.php
  src/Core/Framework/Store/Services/AbstractStoreAppLifecycleService.php
  src/Core/Framework/Store/Services/ExtensionLifecycleService.php
  src/Core/Framework/Store/Services/StoreAppLifecycleService.php
  src/Core/Framework/Store/Services/StoreClient.php
  tests/integration/Core/Framework/Store/Services/ExtensionLifecycleServiceTest.php
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Store/Api/ExtensionStoreActionsControllerTest.php
Owners: none

chore(ci): Also execute PHP jobs, if config files have changed
  .github/workflows/php.yml
  phpstan.neon.dist
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Log/Monolog/AnnotatePackageProcessorTest.php
  tests/unit/Core/Framework/Store/Api/ExtensionStoreActionsControllerTest.php
Owners: @cicada/product-ct-core, @cicada/product-operations

feat: Add entity visibility checks to dal:validate command
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
Owners: @cicada/product-ct-core

fix: some bootstrap micro optimizations
  .github/workflows/integration.yml
  src/Core/Framework/Api/Command/DumpSchemaCommand.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/Plugin.php
  src/Core/Framework/Plugin/KernelPluginLoader/KernelPluginLoader.php
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  tests/unit/Core/Framework/Api/Command/DumpSchemaCommandTest.php
Owners: @cicada/product-operations, @cicada/product-ct-core, @cicada/product-ct-storefront

chore(ci): fix codecov reports
  .github/codecov.yml
  .github/workflows/admin.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  phpunit.xml.dist
  tests/unit/Core/Framework/Api/Command/DumpSchemaCommandTest.php
Owners: @cicada/product-operations, @cicada/product-ct-admin, @cicada/product-ct-core, @cicada/product-ct-storefront

chore(ci): fix codecov reports
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
Owners: none

chore(ci): fix codecov reports
  src/Core/System/SalesChannel/SalesChannelContext.php
Owners: none

chore(ci): fix codecov reports
  src/Core/Framework/Resources/config/packages/feature.yaml
Owners: @cicada/product-ct-core

chore(ci): fix codecov reports
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/zh-CN.json
  src/Core/Migration/V6_3/Migration1536233260StateMachineHistory.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryDefinition.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryEntity.php
Owners: none

chore(ci): fix codecov reports
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.spec.js
Owners: none

chore(ci): fix codecov reports
  .github/bin/split.bash
Owners: @cicada/product-operations

chore(ci): fix codecov reports
  .github/bin/split.bash
Owners: @cicada/product-operations

chore(ci): fix codecov reports
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
Owners: none

chore(ci): fix codecov reports
  .github/bin/split.bash
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
  src/Core/Framework/Resources/config/packages/feature.yaml
Owners: @cicada/product-operations, @cicada/product-ct-core

chore(customer): allowed customer address is null
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Cart/Order/Transformer/LineItemTransformer.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Order/OrderAddressService.php
  src/Core/Checkout/Order/OrderDefinition.php
  src/Core/Checkout/Order/OrderEntity.php
  src/Core/Migration/V6_3/Migration1536232990Order.php
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Controller/CheckoutController.php
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/snippet/zh_CN/storefront.zh-CN.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/address.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/index.html.twig
  src/Storefront/Resources/views/storefront/page/account/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Owners: @cicada/product-ct-storefront

chore(customer): allowed customer address is null
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Test/Integration/Traits/EntityFixturesBase.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/System/SalesChannel/Rule/SalesChannelRuleTest.php
Owners: none

chore(customer): allowed customer address is null
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/Content/Product/State.php
  src/Core/Framework/Plugin/Util/AssetService.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
  tests/unit/Core/Framework/Plugin/Util/AssetServiceTest.php
Owners: @cicada/product-ct-core

feat: introduce env variable to skip cache invalidation on asset:install
  src/Core/Checkout/Cart/CustomCartProcessor.php
  src/Core/Content/Product/DataAbstractionLayer/StatesUpdater.php
Owners: @cicada/product-ct-core

chore: Change package annotations for admin dashboard to after-sales
  .github/workflows/05-deploy.yml
  .github/workflows/05-prepare-release.yml
  .github/workflows/05-publish-release.yml
  .github/workflows/06-publish-tag.yml
  .github/workflows/downstream.yml
  .github/workflows/nightly.yml
  .github/workflows/sync.yml
  src/Administration/Dashboard/OrderAmountService.php
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Core/Framework/Log/Package.php
Owners: @cicada/product-operations, @cicada/product-ct-core

chore: Change package annotations for admin dashboard to after-sales
  .github/workflows/06-publish-tag.yml
Owners: @cicada/product-operations

chore: Adjust danger.php to work with GitHub
  .danger.php
  .gitignore
Owners: none

feat: Add force cache invalidate header
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/PlatformRequest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Owners: @cicada/product-ct-core

feat: Add force cache invalidate header
  src/Core/Content/Product/DataAbstractionLayer/StatesUpdater.php
Owners: @cicada/product-ct-core

fix: set correctly collate and charset for generated migrations
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
Owners: @cicada/product-ct-core

fix: foreign key of the 1:1 and n:1 association is now
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Content/Mail/Transport/MailerTransportDecorator.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/System/Resources/config/loginRegistration.xml
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityAgg.php
  tests/unit/Core/Checkout/Cart/CartCalculatorTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Owners: @cicada/product-ct-core

fix: foreign key of the 1:1 and n:1 association is now
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Owners: none

fix: Select fields lazy loading
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-result-list/sw-select-result-list.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/index.js
  src/Administration/Resources/app/administration/src/app/directive/popover.directive.ts
  tests/unit/Core/Checkout/Cart/CartRuleLoaderTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentMethodValidatorTest.php
Owners: none

fix: force cache invaldiation during test
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Owners: @cicada/product-ct-core

fix: force cache invaldiation during test
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/System/SalesChannel/Rule/SalesChannelRuleTest.php
Owners: none

chore: PHPStan baseline cleanup
  phpstan-baseline.neon
  src/Administration/Controller/NotificationController.php
  src/Administration/Notification/Exception/NotificationThrottledException.php
  src/Administration/Notification/NotificationService.php
  src/Administration/Service/AdminSearcher.php
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/Facade/CartFacadeHookFactory.php
  src/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupPackagerNotFoundException.php
  src/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupSorterNotFoundException.php
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroupServiceRegistry.php
  src/Core/Checkout/Cart/LineItem/QuantityInformation.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/CreditLineItemFactory.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/CustomLineItemFactory.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/LineItemFactoryInterface.php
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Facade/SalesChannelRepositoryFacadeHookFactory.php
  src/Core/Framework/Script/Exception/HookInjectionException.php
  tests/integration/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/unit/Administration/Controller/NotificationControllerTest.php
  tests/unit/Administration/Notification/Exception/NotificationThrottledExceptionTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupPackagerNotFoundExceptionTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupSorterNotFoundExceptionTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
  tests/unit/Core/System/SalesChannel/Rule/SalesChannelRuleTest.php
Owners: @cicada/product-ct-core

chore: PHPStan baseline cleanup
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/zh-CN.json
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Core/Migration/V6_3/Migration1536233560BasicData.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
  tests/integration/Core/System/User/Service/UserValidationServiceTest.php
  tests/migration/Core/BasicDataUntouchedTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Owners: @cicada/product-ct-core

chore: PHPStan baseline cleanup
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Framework/Test/Plugin/_fixture/apps/plugin/Resources/views/storefront/layout/header/logo.html.twig
  src/Core/Framework/Test/Plugin/_fixture/apps/plugin/manifest.xml
  src/Core/Framework/Test/Store/StoreClientBehaviour.php
  tests/integration/Administration/Controller/UserConfigControllerTest.php
  tests/integration/Core/Content/ImportExport/Repository/ImportExportLogRepositoryTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/StatesUpdaterTest.php
  tests/integration/Core/Framework/Store/Api/StoreControllerTest.php
  tests/integration/Core/Framework/Store/Authentication/LocaleProviderTest.php
  tests/integration/Core/Framework/Store/Subscriber/LicenseHostChangedSubscriberTest.php
  tests/integration/Core/System/User/UserCrudTest.php
Owners: @cicada/product-ct-core

fix: Updated child order line item quantity on parent quantity change
  .run/Run all PHP Integration tests.run.xml
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.spec.js
  src/Core/Checkout/Order/OrderDefinition.php
  src/Core/Migration/V6_3/Migration1536232990Order.php
  tests/integration/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportLogApiTest.php
  tests/integration/Core/Framework/Api/Controller/AuthControllerTest.php
  tests/integration/Core/Framework/Api/Controller/UserControllerTest.php
  tests/integration/Core/Framework/Api/VersionTest.php
  tests/integration/Core/Framework/App/AppLocaleProviderTest.php
  tests/integration/Core/Framework/App/Lifecycle/AppLifecycleTest.php
  tests/integration/Core/Framework/Routing/CoreSubscriberTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionStoreLicensesServiceTest.php
Owners: none

fix: Updated child order line item quantity on parent quantity change
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Rule/LineItemGroupRule.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Owners: @cicada/product-ct-core

fix: Updated child order line item quantity on parent quantity change
  src/Core/Checkout/Order/OrderEntity.php
  tests/integration/Administration/Dashboard/OrderAmountServiceTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Owners: none

.github/CODEOWNERS:

# general
/adr/                             @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront

# this file
/.github/CODEOWNERS     @cicada/product-ct-core @cicada/product-ct-admin @cicada/product-ct-storefront


# ops
/.github/               @cicada/product-operations
/.gitlab/               @cicada/product-operations
.gitlab-ci.yml          @cicada/product-operations


# admin
/src/Administration/Resources/* @cicada/product-ct-admin
/.github/workflows/admin* @cicada/product-ct-admin @cicada/product-operations


# storefront
/src/Storefront/ @cicada/product-ct-storefront
/.github/workflows/storefront* @cicada/product-ct-storefront @cicada/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @cicada/product-ct-core
/.github/workflows/php* @cicada/product-ct-core @cicada/product-operations

/src/Core/Checkout/Cart/Facade/ @cicada/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Validator.php @cicada/product-ct-core
/src/Core/Checkout/Cart/Price/ @cicada/product-ct-core
/src/Core/Checkout/Cart/Processor/ @cicada/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @cicada/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @cicada/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @cicada/product-ct-core
/src/Core/Content/Media/Pathname/ @cicada/product-ct-core
/src/Core/Content/Product/SalesChannel/ @cicada/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Content/Product/Cart/ @cicada/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @cicada/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @cicada/product-ct-core
/src/Core/**/Cache*.php @cicada/product-ct-core
/src/Core/Framework/Adapter/ @cicada/product-ct-core
/src/Core/Framework/Api/ @cicada/product-ct-core
/src/Core/Framework/App/ @cicada/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @cicada/product-ct-core
/src/Core/Framework/Feature/ @cicada/product-ct-core
/src/Core/Framework/Log/ @cicada/product-ct-core
/src/Core/Framework/MessageQueue/ @cicada/product-ct-core
/src/Core/Framework/Migration/ @cicada/product-ct-core
/src/Core/Framework/Plugin/ @cicada/product-ct-core
/src/Core/Framework/Resources/config/ @cicada/product-ct-core
/src/Core/Framework/Routing/ @cicada/product-ct-core
/src/Core/Framework/Rule/ @cicada/product-ct-core
/src/Core/Framework/Script/ @cicada/product-ct-core
/src/Core/Framework/Update/ @cicada/product-ct-core
/src/Core/Framework/Util/ @cicada/product-ct-core
/src/Core/Framework/Uuid/ @cicada/product-ct-core
/src/Core/Framework/Validation/ @cicada/product-ct-core
/src/Core/Framework/Webhook/ @cicada/product-ct-core
/src/Core/Framework/*.php @cicada/product-ct-core
/src/Core/Profiling/ @cicada/product-ct-core
/src/Core/DevOps/ @cicada/product-ct-core
/src/Core/System/CustomEntity/ @cicada/product-ct-core
/src/Core/System/CustomField/ @cicada/product-ct-core
/src/Core/System/Integration/ @cicada/product-ct-core
/src/Elasticsearch/ @cicada/product-ct-core
/bin/ @cicada/product-ct-core
/public/ @cicada/product-ct-core
/config/bundles.php @cicada/product-ct-core
phpstan.neon @cicada/product-ct-core
.bc-exclude.php @cicada/product-ct-core
deprecation.ignore @cicada/product-ct-core
/src/Core/Framework/Resources/config/packages/cicada.yaml @cicada/product-ct-core
